
.buttons {
       background: #000000;
    color: white;
    border: 0;
    outline: 0;
    width: 100%;
    /* height: 40px; */
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #C6974955;
    box-shadow: inset 0 0 1rem 0.1rem #00000055;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 800;
}

.buttons :hover {
    box-shadow: inset 0 0 1rem .1rem #C6974955, 0 0 1rem .5rem #C6974955;
}

#toastBox {
    position: absolute;
    bottom: 25px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    z-index: 9999999999;
}
.toastBox {
    text-align: center;
    position: fixed;
    bottom: -20%;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    z-index: 9999999999;
}

.toastBox.active {
    bottom: 82px;
    padding: 0 15px;
}